.spacer {
  flex: 1 1 auto;
}

.user {
  margin-right: 1rem;
}


button[mat-button] {
  min-height: 2.75rem;
  font-size: 1.125rem;
}

button[mat-button] mat-icon {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.75rem;
  margin-right: 0.5rem;
}
