  @if (isLoggedIn()) {
    <mat-toolbar>
      <span>FairLiving</span>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="userMenu" (menuOpened)="onMenuOpened()">
        <mat-icon>account_circle</mat-icon>
        {{ currentUser()?.userName }}
      </button>

      <mat-menu #userMenu="matMenu">
        @if (showSwitchHousehold()) {
          <button mat-menu-item (click)="switchHousehold()">
            <mat-icon>swap_horiz</mat-icon>
            <span>Haushalt wechseln</span>
          </button>
        }
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Abmelden</span>
        </button>
      </mat-menu>
    </mat-toolbar>

}

<router-outlet />
